{% extends 'home.html' %}
{% load static %}

{% block content %}
<section class="section">
    <div class="container">
        <form hx-get="{% url 'product_search' %}" hx-trigger="submit" hx-target="#product-list" hx-swap="innerHTML">
            {{ form.as_p }}
            <button type="submit">Search</button>
        </form>
        
        <!-- Container where the product list will be updated -->
        <div id="product-list">
            {% include 'products/product_list.html' with products=products %}
        </div>
    </div>
</section>
{% endblock content %}
